<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SMoL</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-theme.min.css" rel="stylesheet">
    <style>
      section {
        /* For the navbar */
        padding-top: 50px;
      }

      #packlist, #packdetails {
        overflow-y: scroll;
        position: absolute;
        top: 50px;
        bottom: 0;
      }

      #packlist {
        left: 0;
        right: 67%;
      }

      #packdetails {
        left: 33%;
        right: 0;
        padding: 1em;
      }

      #packlist {
        background: green;
      }

      /* Also used in #packdetails */
      .pack img, .pack header {
        display: inline-block;
      }

      #packlist .pack.selected {
        background: SaddleBrown;
      }

      #packdetails {
        background: grey;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">SMoL</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li role="presentation"><a href="#packs" aria-controls="home" role="tab" data-toggle="tab">Packs</a></li>
            <li role="presentation"><a href="#options" aria-controls="options" role="tab" data-toggle="tab">Options</a></li>
            <li role="presentation"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="tab-content">
      <section role="tabpanel" class="tab-pane active" id="packs">

        <div id="packlist">
          <div class="pack selected">
            <img src="https://hydra-media.cursecdn.com/minecraft.gamepedia.com/f/f8/Zombie_Head.png">
            <header>
              <h3>ZombiePack</h3>
              <p>Tinkering &amp; Tech</p>
            </header>
          </div>
          <div class=pack>
            <img src="https://hydra-media.cursecdn.com/minecraft.gamepedia.com/9/9c/Skeleton_Skull.png">
            <header>
              <h3>SkeletonPack</h3>
              <p>All Quests Start at the Tavern</p>
            </header>
          </div>
          <div class=pack>
            <img src="https://hydra-media.cursecdn.com/minecraft.gamepedia.com/9/97/Creeper_Head.png">
            <header>
              <h3>CreeperPack</h3>
              <p>Watch the World Burn</p>
            </header>
          </div>
        </div>

        <div id="packdetails">
          <div class=pack>
            <img src="https://hydra-media.cursecdn.com/minecraft.gamepedia.com/f/f8/Zombie_Head.png">
            <header>
              <h1>ZombiePack</h1>
              <p>Tinkering &amp; Tech</p>
            </header>
          </div>
          <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group">Status: Installed</div>
            <div class="btn-group pull-right" role="group" aria-label="..."><button type="button" class="btn btn-default">Launch</button></div>
          </div>

          <p>Etiam scelerisque, lacus at fringilla pellentesque, odio ipsum faucibus ipsum, vel pharetra magna nibh non lorem. Aliquam erat volutpat. Fusce a pulvinar sapien. Vivamus nisl quam, tincidunt at mauris et, placerat congue purus. Nam ultrices lectus sit amet lectus blandit, sed maximus tortor faucibus. Proin fringilla at sem faucibus mattis. Etiam leo sapien, tincidunt sed pellentesque nec, consequat eget lectus. Nulla facilisi. Quisque viverra ante ac consectetur sollicitudin.</p>

          <p>Duis ut eleifend nisl. Suspendisse potenti. Sed in pretium ligula, et suscipit urna. Nullam mi eros, mattis vel dapibus et, mattis nec augue. In convallis eros turpis, ac volutpat purus varius eu. Etiam ante mauris, varius quis orci ac, accumsan semper magna. Curabitur eu dictum orci. Etiam non tellus vitae metus venenatis mattis. Duis finibus mattis tristique. Pellentesque aliquet sagittis mi id dapibus. Duis scelerisque nisi vitae gravida finibus.</p>
        </div>

      </section>

      <section role="tabpanel" class="tab-pane active" id="options">
        (Launcher Options)
      </section>

      <section role="tabpanel" class="tab-pane active" id="about">
        <article>
          <p>The Smol MOdpack Launcher</p>

          <img src="/static/pig.jpg">
        </article>
      </section>
    </div>

    <script src="/static/jquery.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script src="/static/pyquery.js"></script>
  </body>
</html>